In [160]:
# libraries
from google.colab import files
import pandas as pd
import json
from sklearn.impute import KNNImputer

In [161]:
uploaded = files.upload()

Saving Poverty2023.csv to Poverty2023 (4).csv
Saving Unemployment2023.csv to Unemployment2023 (4).csv

In [162]:
df_unemp = pd.read_csv("Unemployment2023.csv")
df_pov = pd.read_csv("Poverty2023.csv")

In [163]:
df_unemp['Attribute'].unique()

array(['Civilian_labor_force_2000', 'Employed_2000', 'Unemployed_2000',
       'Unemployment_rate_2000', 'Civilian_labor_force_2001',
       'Employed_2001', 'Unemployed_2001', 'Unemployment_rate_2001',
       'Civilian_labor_force_2002', 'Employed_2002', 'Unemployed_2002',
       'Unemployment_rate_2002', 'Civilian_labor_force_2003',
       'Employed_2003', 'Unemployed_2003', 'Unemployment_rate_2003',
       'Civilian_labor_force_2004', 'Employed_2004', 'Unemployed_2004',
       'Unemployment_rate_2004', 'Civilian_labor_force_2005',
       'Employed_2005', 'Unemployed_2005', 'Unemployment_rate_2005',
       'Civilian_labor_force_2006', 'Employed_2006', 'Unemployed_2006',
       'Unemployment_rate_2006', 'Civilian_labor_force_2007',
       'Employed_2007', 'Unemployed_2007', 'Unemployment_rate_2007',
       'Civilian_labor_force_2008', 'Employed_2008', 'Unemployed_2008',
       'Unemployment_rate_2008', 'Civilian_labor_force_2009',
       'Employed_2009', 'Unemployed_2009', 'Unemployment_rate_2009',
       'Civilian_labor_force_2010', 'Employed_2010', 'Unemployed_2010',
       'Unemployment_rate_2010', 'Civilian_labor_force_2011',
       'Employed_2011', 'Unemployed_2011', 'Unemployment_rate_2011',
       'Civilian_labor_force_2012', 'Employed_2012', 'Unemployed_2012',
       'Unemployment_rate_2012', 'Civilian_labor_force_2013',
       'Employed_2013', 'Unemployed_2013', 'Unemployment_rate_2013',
       'Civilian_labor_force_2014', 'Employed_2014', 'Unemployed_2014',
       'Unemployment_rate_2014', 'Civilian_labor_force_2015',
       'Employed_2015', 'Unemployed_2015', 'Unemployment_rate_2015',
       'Civilian_labor_force_2016', 'Employed_2016', 'Unemployed_2016',
       'Unemployment_rate_2016', 'Civilian_labor_force_2017',
       'Employed_2017', 'Unemployed_2017', 'Unemployment_rate_2017',
       'Civilian_labor_force_2018', 'Employed_2018', 'Unemployed_2018',
       'Unemployment_rate_2018', 'Civilian_labor_force_2019',
       'Employed_2019', 'Unemployed_2019', 'Unemployment_rate_2019',
       'Civilian_labor_force_2020', 'Employed_2020', 'Unemployed_2020',
       'Unemployment_rate_2020', 'Civilian_labor_force_2021',
       'Employed_2021', 'Unemployed_2021', 'Unemployment_rate_2021',
       'Civilian_labor_force_2022', 'Employed_2022', 'Unemployed_2022',
       'Unemployment_rate_2022', 'Civilian_labor_force_2023',
       'Employed_2023', 'Unemployed_2023', 'Unemployment_rate_2023',
       'Median_Household_Income_2022',
       'Med_HH_Income_Percent_of_State_Total_2022',
       'Rural_Urban_Continuum_Code_2023', 'Urban_Influence_Code_2013',
       'Metro_2023'], dtype=object)

In [164]:
# removing records where Area names don't have commas, to get county level records
# filters 329726 entries to 324438
df_unemp_filtered = df_unemp[df_unemp['Area_Name'].str.contains(",")]

In [165]:
df_unemp_filtered.head()

,FIPS_Code,State,Area_Name,Attribute,Value
195,1001,AL,"Autauga County, AL",Rural_Urban_Continuum_Code_2023,2.0
196,1001,AL,"Autauga County, AL",Urban_Influence_Code_2013,2.0
197,1001,AL,"Autauga County, AL",Metro_2023,1.0
198,1001,AL,"Autauga County, AL",Civilian_labor_force_2000,21861.0
199,1001,AL,"Autauga County, AL",Employed_2000,20971.0

In [166]:
df_unemp_filtered[['Feature', 'Year']] = df_unemp_filtered['Attribute'].str.extract(r'(.+)_(\d{4})')
df_unemp_filtered['Year'] = df_unemp_filtered['Year'].astype(int)

/tmp/ipython-input-3425958084.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unemp_filtered[['Feature', 'Year']] = df_unemp_filtered['Attribute'].str.extract(r'(.+)_(\d{4})')
/tmp/ipython-input-3425958084.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unemp_filtered[['Feature', 'Year']] = df_unemp_filtered['Attribute'].str.extract(r'(.+)_(\d{4})')
/tmp/ipython-input-3425958084.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unemp_filtered['Year'] = df_unemp_filtered['Year'].astype(int)

In [167]:
df_unemp_filtered['Year'].unique()

array([2023, 2013, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2014, 2015, 2016, 2017, 2018, 2019, 2020,
       2021, 2022])

In [168]:
# split attribute column to extract year and feature variable
df_unemp_filtered[['Feature', 'Year']] = df_unemp_filtered['Attribute'].str.extract(r'(.+)_(\d{4})')
df_unemp_filtered['Year'] = df_unemp_filtered['Year'].astype(int)
df_unemp_filtered

/tmp/ipython-input-4274137971.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unemp_filtered[['Feature', 'Year']] = df_unemp_filtered['Attribute'].str.extract(r'(.+)_(\d{4})')
/tmp/ipython-input-4274137971.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unemp_filtered['Year'] = df_unemp_filtered['Year'].astype(int)

,FIPS_Code,State,Area_Name,Attribute,Value,Feature,Year
195,1001,AL,"Autauga County, AL",Rural_Urban_Continuum_Code_2023,2.0,Rural_Urban_Continuum_Code,2023
196,1001,AL,"Autauga County, AL",Urban_Influence_Code_2013,2.0,Urban_Influence_Code,2013
197,1001,AL,"Autauga County, AL",Metro_2023,1.0,Metro,2023
198,1001,AL,"Autauga County, AL",Civilian_labor_force_2000,21861.0,Civilian_labor_force,2000
199,1001,AL,"Autauga County, AL",Employed_2000,20971.0,Employed,2000
...,...,...,...,...,...,...,...
329721,72153,PR,"Yauco Municipio, PR",Unemployment_rate_2022,10.3,Unemployment_rate,2022
329722,72153,PR,"Yauco Municipio, PR",Civilian_labor_force_2023,10488.0,Civilian_labor_force,2023
329723,72153,PR,"Yauco Municipio, PR",Employed_2023,9278.0,Employed,2023
329724,72153,PR,"Yauco Municipio, PR",Unemployed_2023,1210.0,Unemployed,2023
329725,72153,PR,"Yauco Municipio, PR",Unemployment_rate_2023,11.5,Unemployment_rate,2023

In [169]:
# pivot table to get one row per
df_unemp_filtered = df_unemp_filtered.pivot_table(
    index=['FIPS_Code', 'State', 'Area_Name', 'Year'],
    columns='Feature',
    values='Value'
).reset_index()

df_unemp_filtered.head(10)

Feature,FIPS_Code,State,Area_Name,Year,Civilian_labor_force,Employed,Med_HH_Income_Percent_of_State_Total,Median_Household_Income,Metro,Rural_Urban_Continuum_Code,Unemployed,Unemployment_rate,Urban_Influence_Code
0,1001,AL,"Autauga County, AL",2000,21861.0,20971.0,NaN,NaN,NaN,NaN,890.0,4.1,NaN
1,1001,AL,"Autauga County, AL",2001,22081.0,21166.0,NaN,NaN,NaN,NaN,915.0,4.1,NaN
2,1001,AL,"Autauga County, AL",2002,22161.0,21096.0,NaN,NaN,NaN,NaN,1065.0,4.8,NaN
3,1001,AL,"Autauga County, AL",2003,22695.0,21557.0,NaN,NaN,NaN,NaN,1138.0,5.0,NaN
4,1001,AL,"Autauga County, AL",2004,23241.0,22146.0,NaN,NaN,NaN,NaN,1095.0,4.7,NaN
5,1001,AL,"Autauga County, AL",2005,23887.0,22986.0,NaN,NaN,NaN,NaN,901.0,3.8,NaN
6,1001,AL,"Autauga County, AL",2006,24425.0,23619.0,NaN,NaN,NaN,NaN,806.0,3.3,NaN
7,1001,AL,"Autauga County, AL",2007,24434.0,23610.0,NaN,NaN,NaN,NaN,824.0,3.4,NaN
8,1001,AL,"Autauga County, AL",2008,24687.0,23376.0,NaN,NaN,NaN,NaN,1311.0,5.3,NaN
9,1001,AL,"Autauga County, AL",2009,24660.0,22464.0,NaN,NaN,NaN,NaN,2196.0,8.9,NaN

In [170]:
# get the most recent year of population volumes
df_unemp_final = df_unemp_filtered[df_unemp_filtered['Year'] == 2023]
df_unemp_final.head()

Feature,FIPS_Code,State,Area_Name,Year,Civilian_labor_force,Employed,Med_HH_Income_Percent_of_State_Total,Median_Household_Income,Metro,Rural_Urban_Continuum_Code,Unemployed,Unemployment_rate,Urban_Influence_Code
23,1001,AL,"Autauga County, AL",2023,27000.0,26409.0,NaN,NaN,1.0,2.0,591.0,2.2,NaN
47,1003,AL,"Baldwin County, AL",2023,104409.0,102029.0,NaN,NaN,1.0,3.0,2380.0,2.3,NaN
71,1005,AL,"Barbour County, AL",2023,7944.0,7592.0,NaN,NaN,0.0,6.0,352.0,4.4,NaN
95,1007,AL,"Bibb County, AL",2023,8772.0,8556.0,NaN,NaN,1.0,1.0,216.0,2.5,NaN
119,1009,AL,"Blount County, AL",2023,25836.0,25282.0,NaN,NaN,1.0,1.0,554.0,2.1,NaN

In [171]:
# the data is incomplete where there are missing records for multiple years where only the year 2023 contains all the columns including median household income
df_unemp_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3228 entries, 23 to 77141
Data columns (total 13 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   FIPS_Code                             3228 non-null   int64
 1   State                                 3228 non-null   object
 2   Area_Name                             3228 non-null   object
 3   Year                                  3228 non-null   int64
 4   Civilian_labor_force                  3219 non-null   float64
 5   Employed                              3219 non-null   float64
 6   Med_HH_Income_Percent_of_State_Total  0 non-null      float64
 7   Median_Household_Income               0 non-null      float64
 8   Metro                                 3220 non-null   float64
 9   Rural_Urban_Continuum_Code            3220 non-null   float64
 10  Unemployed                            3219 non-null   float64
 11  Unemployment_rate                     3219 non-null   float64
 12  Urban_Influence_Code                  0 non-null      float64
dtypes: float64(9), int64(2), object(2)
memory usage: 353.1+ KB

In [172]:
df_unemp_final = df_unemp_final.drop(
    columns=[
        'Med_HH_Income_Percent_of_State_Total',
        'Median_Household_Income',
        'Urban_Influence_Code'
    ],
    errors='ignore'
)

In [173]:
# for the most recent year of data there is not record of median household income
# decided to use the most recent year of data for population volumes (2023) and then the most recent year of data for income (2022)
df_income_2022 = df_unemp_filtered[df_unemp_filtered['Year'] == 2022][
    ['FIPS_Code', 'Median_Household_Income',
     'Med_HH_Income_Percent_of_State_Total']
]

df_unemp_final = df_unemp_final.merge(
    df_income_2022,
    on='FIPS_Code',
    how='left'
)

In [174]:
df_unemp_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3228 entries, 0 to 3227
Data columns (total 12 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   FIPS_Code                             3228 non-null   int64
 1   State                                 3228 non-null   object
 2   Area_Name                             3228 non-null   object
 3   Year                                  3228 non-null   int64
 4   Civilian_labor_force                  3219 non-null   float64
 5   Employed                              3219 non-null   float64
 6   Metro                                 3220 non-null   float64
 7   Rural_Urban_Continuum_Code            3220 non-null   float64
 8   Unemployed                            3219 non-null   float64
 9   Unemployment_rate                     3219 non-null   float64
 10  Median_Household_Income               3142 non-null   float64
 11  Med_HH_Income_Percent_of_State_Total  3142 non-null   float64
dtypes: float64(8), int64(2), object(2)
memory usage: 302.8+ KB

In [175]:
numeric_cols = [
    'Civilian_labor_force', 'Employed', 'Unemployed',
    'Unemployment_rate', 'Metro', 'Rural_Urban_Continuum_Code',
    'Median_Household_Income', 'Med_HH_Income_Percent_of_State_Total'
]

df_numeric = df_unemp_final[numeric_cols]

In [176]:
# will impute the missing numeric values so counties will not be neglected
imputer = KNNImputer(n_neighbors=5)
df_imputed = imputer.fit_transform(df_numeric)

df_unemp_final[numeric_cols] = df_imputed

In [177]:
df_unemp_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3228 entries, 0 to 3227
Data columns (total 12 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   FIPS_Code                             3228 non-null   int64
 1   State                                 3228 non-null   object
 2   Area_Name                             3228 non-null   object
 3   Year                                  3228 non-null   int64
 4   Civilian_labor_force                  3228 non-null   float64
 5   Employed                              3228 non-null   float64
 6   Metro                                 3228 non-null   float64
 7   Rural_Urban_Continuum_Code            3228 non-null   float64
 8   Unemployed                            3228 non-null   float64
 9   Unemployment_rate                     3228 non-null   float64
 10  Median_Household_Income               3228 non-null   float64
 11  Med_HH_Income_Percent_of_State_Total  3228 non-null   float64
dtypes: float64(8), int64(2), object(2)
memory usage: 302.8+ KB

In [178]:
df_unemp_final.describe()

Feature,FIPS_Code,Year,Civilian_labor_force,Employed,Metro,Rural_Urban_Continuum_Code,Unemployed,Unemployment_rate,Median_Household_Income,Med_HH_Income_Percent_of_State_Total
count,3228.000000,3228.0,3.228000e+03,3.228000e+03,3228.000000,3228.000000,3228.000000,3228.000000,3228.000000,3228.000000
mean,31333.835502,2023.0,5.192621e+04,5.002842e+04,0.389653,5.170322,1897.792007,3.687299,63972.156010,89.907299
std,16315.887356,0.0,1.702241e+05,1.632443e+05,0.487696,2.945845,7190.602082,1.384589,16633.068631,19.503783
min,1001.000000,2023.0,1.270000e+02,1.180000e+02,0.000000,1.000000,5.000000,0.300000,28972.000000,41.500000
25%,19020.500000,2023.0,4.867750e+03,4.659000e+03,0.000000,2.000000,178.000000,2.800000,52674.750000,76.900000
50%,30016.000000,2023.0,1.155850e+04,1.112600e+04,0.000000,6.000000,426.000000,3.400000,61280.500000,87.500000
75%,46102.250000,2023.0,3.109350e+04,3.004550e+04,1.000000,8.000000,1125.250000,4.200000,71669.000000,100.200000
max,72153.000000,2023.0,5.015629e+06,4.763587e+06,1.000000,9.000000,252042.000000,17.300000,167605.000000,232.600000

In [221]:
features = [
    'FIPS_Code',
    'State',
    'Area_Name',
    'Year',
    'Civilian_labor_force',
    'Employed',
    'Unemployed',
    'Unemployment_rate',
    'Median_Household_Income',
    'Med_HH_Income_Percent_of_State_Total'
]

df_unemp_final = df_unemp_final[features]

In [222]:
df_unemp_final.head(10)

Feature,FIPS_Code,State,Area_Name,Year,Civilian_labor_force,Employed,Unemployed,Unemployment_rate,Median_Household_Income,Med_HH_Income_Percent_of_State_Total
0,1001,AL,"Autauga County, AL",2023,27000.0,26409.0,591.0,2.2,70148.0,117.5
1,1003,AL,"Baldwin County, AL",2023,104409.0,102029.0,2380.0,2.3,71704.0,120.1
2,1005,AL,"Barbour County, AL",2023,7944.0,7592.0,352.0,4.4,41151.0,68.9
3,1007,AL,"Bibb County, AL",2023,8772.0,8556.0,216.0,2.5,54309.0,91.0
4,1009,AL,"Blount County, AL",2023,25836.0,25282.0,554.0,2.1,60553.0,101.4
5,1011,AL,"Bullock County, AL",2023,4500.0,4393.0,107.0,2.4,35798.0,60.0
6,1013,AL,"Butler County, AL",2023,9009.0,8746.0,263.0,2.9,41852.0,70.1
7,1015,AL,"Calhoun County, AL",2023,45540.0,44256.0,1284.0,2.8,52772.0,88.4
8,1017,AL,"Chambers County, AL",2023,16272.0,15884.0,388.0,2.4,45563.0,76.3
9,1019,AL,"Cherokee County, AL",2023,11854.0,11570.0,284.0,2.4,52613.0,88.1

In [223]:
df_unemp_final.to_csv("Cleaned_Unemployment2023.csv", index=False)

In [224]:
# from google.colab import files
files.download("Cleaned_Unemployment2023.csv")

Poverty2023 Cleaned

In [182]:
# removing aggregated rows like 'United States' or inidivual state names to get county records
# filtered from 79934 records to 78325 records
#df_pov_filtered = df_pov[df_pov['Area_Name'].str.contains(",")]

df_pov_filtered = df_pov[
    df_pov['Area_Name'].str.contains(
        r'County|Parish|Borough|Census Area|city|Municipality',
        regex=True
    )
]

In [183]:
df_pov_filtered.head()

    FIPS_Code Stabr       Area_Name                        Attribute   Value
54       1001    AL  Autauga County  Rural_Urban_Continuum_Code_2013     2.0
55       1001    AL  Autauga County        Urban_Influence_Code_2013     2.0
56       1001    AL  Autauga County  Rural_Urban_Continuum_Code_2023     2.0
57       1001    AL  Autauga County        Urban_Influence_Code_2024     4.0
58       1001    AL  Autauga County                      POVALL_2023  7004.0

In [184]:
df_pov_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 78300 entries, 54 to 79960
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   FIPS_Code  78300 non-null  int64
 1   Stabr      78300 non-null  object
 2   Area_Name  78300 non-null  object
 3   Attribute  78300 non-null  object
 4   Value      78300 non-null  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 3.6+ MB

In [185]:
df_pov_filtered[['Feature', 'Year']] = df_pov_filtered['Attribute'].str.extract(r'(.+)_(\d{4})')
df_pov_filtered['Year'] = df_pov_filtered['Year'].astype(int)

/tmp/ipython-input-2561389686.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pov_filtered[['Feature', 'Year']] = df_pov_filtered['Attribute'].str.extract(r'(.+)_(\d{4})')
/tmp/ipython-input-2561389686.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pov_filtered[['Feature', 'Year']] = df_pov_filtered['Attribute'].str.extract(r'(.+)_(\d{4})')
/tmp/ipython-input-2561389686.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pov_filtered['Year'] = df_pov_filtered['Year'].astype(int)

In [186]:
df_pov_filtered['Year'].unique()

array([2013, 2023, 2024])

In [187]:
df_pov_filtered.head()

,FIPS_Code,Stabr,Area_Name,Attribute,Value,Feature,Year
54,1001,AL,Autauga County,Rural_Urban_Continuum_Code_2013,2.0,Rural_Urban_Continuum_Code,2013
55,1001,AL,Autauga County,Urban_Influence_Code_2013,2.0,Urban_Influence_Code,2013
56,1001,AL,Autauga County,Rural_Urban_Continuum_Code_2023,2.0,Rural_Urban_Continuum_Code,2023
57,1001,AL,Autauga County,Urban_Influence_Code_2024,4.0,Urban_Influence_Code,2024
58,1001,AL,Autauga County,POVALL_2023,7004.0,POVALL,2023

In [188]:
df_pov_filtered = df_pov_filtered.pivot_table(
    index=['FIPS_Code', 'Stabr', 'Area_Name', 'Year'],
    columns='Feature',
    values='Value'
).reset_index()

df_pov_filtered.head(10)

Feature,FIPS_Code,Stabr,Area_Name,Year,CI90LB017,CI90LB017P,CI90LB517,CI90LB517P,CI90LBALL,CI90LBALLP,...,CI90UBINC,MEDHHINC,PCTPOV017,PCTPOV517,PCTPOVALL,POV017,POV517,POVALL,Rural_Urban_Continuum_Code,Urban_Influence_Code
0,1001,AL,Autauga County,2013,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0
1,1001,AL,Autauga County,2023,1759.0,12.7,1254.0,12.2,5599.0,9.3,...,75047.0,68857.0,17.0,16.7,11.7,2363.0,1722.0,7004.0,2.0,NaN
2,1001,AL,Autauga County,2024,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
3,1003,AL,Baldwin County,2013,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,2.0
4,1003,AL,Baldwin County,2023,5752.0,11.1,3889.0,9.9,20972.0,8.4,...,79450.0,74248.0,14.1,13.0,10.0,7334.0,5105.0,24942.0,3.0,NaN
5,1003,AL,Baldwin County,2024,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
6,1005,AL,Barbour County,2013,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,6.0
7,1005,AL,Barbour County,2023,1187.0,23.8,813.0,22.0,4266.0,19.5,...,50065.0,45298.0,34.8,33.2,25.5,1738.0,1226.0,5585.0,6.0,NaN
8,1005,AL,Barbour County,2024,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
9,1007,AL,Bibb County,2013,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0

In [189]:
df_pov_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9397 entries, 0 to 9396
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   FIPS_Code                   9397 non-null   int64
 1   Stabr                       9397 non-null   object
 2   Area_Name                   9397 non-null   object
 3   Year                        9397 non-null   int64
 4   CI90LB017                   3132 non-null   float64
 5   CI90LB017P                  3132 non-null   float64
 6   CI90LB517                   3132 non-null   float64
 7   CI90LB517P                  3132 non-null   float64
 8   CI90LBALL                   3132 non-null   float64
 9   CI90LBALLP                  3132 non-null   float64
 10  CI90LBINC                   3132 non-null   float64
 11  CI90UB017                   3132 non-null   float64
 12  CI90UB017P                  3132 non-null   float64
 13  CI90UB517                   3132 non-null   float64
 14  CI90UB517P                  3132 non-null   float64
 15  CI90UBALL                   3132 non-null   float64
 16  CI90UBALLP                  3132 non-null   float64
 17  CI90UBINC                   3132 non-null   float64
 18  MEDHHINC                    3132 non-null   float64
 19  PCTPOV017                   3132 non-null   float64
 20  PCTPOV517                   3132 non-null   float64
 21  PCTPOVALL                   3132 non-null   float64
 22  POV017                      3132 non-null   float64
 23  POV517                      3132 non-null   float64
 24  POVALL                      3132 non-null   float64
 25  Rural_Urban_Continuum_Code  6264 non-null   float64
 26  Urban_Influence_Code        6264 non-null   float64
dtypes: float64(23), int64(2), object(2)
memory usage: 1.9+ MB

In [190]:
# get the most recent year of population volumes
df_pov_final = df_pov_filtered[df_pov_filtered['Year'] == 2023]
df_pov_final.head()

Feature,FIPS_Code,Stabr,Area_Name,Year,CI90LB017,CI90LB017P,CI90LB517,CI90LB517P,CI90LBALL,CI90LBALLP,...,CI90UBINC,MEDHHINC,PCTPOV017,PCTPOV517,PCTPOVALL,POV017,POV517,POVALL,Rural_Urban_Continuum_Code,Urban_Influence_Code
1,1001,AL,Autauga County,2023,1759.0,12.7,1254.0,12.2,5599.0,9.3,...,75047.0,68857.0,17.0,16.7,11.7,2363.0,1722.0,7004.0,2.0,NaN
4,1003,AL,Baldwin County,2023,5752.0,11.1,3889.0,9.9,20972.0,8.4,...,79450.0,74248.0,14.1,13.0,10.0,7334.0,5105.0,24942.0,3.0,NaN
7,1005,AL,Barbour County,2023,1187.0,23.8,813.0,22.0,4266.0,19.5,...,50065.0,45298.0,34.8,33.2,25.5,1738.0,1226.0,5585.0,6.0,NaN
10,1007,AL,Bibb County,2023,640.0,15.1,444.0,14.3,3112.0,15.6,...,62587.0,56025.0,21.4,20.9,19.4,910.0,649.0,3870.0,1.0,NaN
13,1009,AL,Blount County,2023,1652.0,12.2,1124.0,11.2,6121.0,10.3,...,70911.0,64962.0,16.6,15.8,12.8,2250.0,1587.0,7590.0,1.0,NaN

In [191]:
df_pov_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3133 entries, 1 to 9395
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   FIPS_Code                   3133 non-null   int64
 1   Stabr                       3133 non-null   object
 2   Area_Name                   3133 non-null   object
 3   Year                        3133 non-null   int64
 4   CI90LB017                   3132 non-null   float64
 5   CI90LB017P                  3132 non-null   float64
 6   CI90LB517                   3132 non-null   float64
 7   CI90LB517P                  3132 non-null   float64
 8   CI90LBALL                   3132 non-null   float64
 9   CI90LBALLP                  3132 non-null   float64
 10  CI90LBINC                   3132 non-null   float64
 11  CI90UB017                   3132 non-null   float64
 12  CI90UB017P                  3132 non-null   float64
 13  CI90UB517                   3132 non-null   float64
 14  CI90UB517P                  3132 non-null   float64
 15  CI90UBALL                   3132 non-null   float64
 16  CI90UBALLP                  3132 non-null   float64
 17  CI90UBINC                   3132 non-null   float64
 18  MEDHHINC                    3132 non-null   float64
 19  PCTPOV017                   3132 non-null   float64
 20  PCTPOV517                   3132 non-null   float64
 21  PCTPOVALL                   3132 non-null   float64
 22  POV017                      3132 non-null   float64
 23  POV517                      3132 non-null   float64
 24  POVALL                      3132 non-null   float64
 25  Rural_Urban_Continuum_Code  3133 non-null   float64
 26  Urban_Influence_Code        0 non-null      float64
dtypes: float64(23), int64(2), object(2)
memory usage: 685.3+ KB

In [192]:
features = [
    'FIPS_Code',
    'Stabr',
    'Area_Name',
    'Year',
    'MEDHHINC',
    'POVALL'
]

df_pov_final = df_pov_final[features]

In [193]:
df_pov_final.head()

Feature  FIPS_Code Stabr       Area_Name  Year  MEDHHINC   POVALL
1             1001    AL  Autauga County  2023   68857.0   7004.0
4             1003    AL  Baldwin County  2023   74248.0  24942.0
7             1005    AL  Barbour County  2023   45298.0   5585.0
10            1007    AL     Bibb County  2023   56025.0   3870.0
13            1009    AL   Blount County  2023   64962.0   7590.0

In [194]:
numeric_cols = ['MEDHHINC', 'POVALL']

df_numeric = df_pov_final[numeric_cols]

imputer = KNNImputer(n_neighbors=5)
df_imputed = imputer.fit_transform(df_numeric)

df_pov_final[numeric_cols] = df_imputed

In [195]:
df_pov_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3133 entries, 1 to 9395
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   FIPS_Code  3133 non-null   int64
 1   Stabr      3133 non-null   object
 2   Area_Name  3133 non-null   object
 3   Year       3133 non-null   int64
 4   MEDHHINC   3133 non-null   float64
 5   POVALL     3133 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 171.3+ KB

In [218]:
df_pov_final.to_csv("Cleaned_Poverty2023.csv", index=False)

In [219]:
files.download("Cleaned_Poverty2023.csv")