In [1]:
import pandas as pd

In [2]:
#loading all the cleaned data
df_fema = pd.read_csv('cleaned_fema_disasters.csv')
df_poverty = pd.read_csv('Cleaned_Poverty2023.csv')
df_unemployment = pd.read_csv('Cleaned_Unemployment2023.csv')
df_pop = pd.read_csv('cleaned_population_estimates.csv')
df_noaa = pd.read_csv('cleaned_noaa_events.csv')

In [4]:
df_fema['incident_year'] = pd.to_datetime(df_fema['incident_start_date']).dt.year

In [8]:
#header cleaning for all
for df in [df_fema, df_poverty, df_unemployment, df_pop, df_noaa]: df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [9]:
#merging based on fips code
df_master = df_fema.merge(df_poverty, on='fips_code', how='left')
df_master = df_master.merge(df_unemployment, on='fips_code', how='left')
df_master = df_master.merge(df_pop[['fips_code', 'total_population', 'total_population_norm']], on='fips_code', how='left')

In [10]:
df_master.head()

,fips_code,incident_start_date,incidenttype,is_major_disaster,state_x,incident_year,stabr,area_name_x,year_x,medhhinc,...,area_name_y,year_y,civilian_labor_force,employed,unemployed,unemployment_rate,median_household_income,med_hh_income_percent_of_state_total,total_population,total_population_norm
0,41067,2024-08-08 00:00:00+00:00,Fire,0,OR,2024,OR,Washington County,2023.0,103486.0,...,"Washington County, OR",2023.0,332643.0,321932.0,10711.0,3.2,98706.0,130.5,598865.0,0.061969
1,41031,2024-08-04 00:00:00+00:00,Fire,0,OR,2024,OR,Jefferson County,2023.0,68419.0,...,"Jefferson County, OR",2023.0,10286.0,9814.0,472.0,4.6,65600.0,86.7,25454.0,0.002630
2,41017,2024-08-02 00:00:00+00:00,Fire,0,OR,2024,OR,Deschutes County,2023.0,95414.0,...,"Deschutes County, OR",2023.0,104662.0,100812.0,3850.0,3.7,84281.0,111.4,208513.0,0.021573
3,6000,2017-02-08 00:00:00+00:00,Severe Storm,1,CA,2017,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1001,2015-12-23 00:00:00+00:00,Severe Storm,1,AL,2015,AL,Autauga County,2023.0,68857.0,...,"Autauga County, AL",2023.0,27000.0,26409.0,591.0,2.2,70148.0,117.5,60342.0,0.006240

In [11]:
df_master.columns

Index(['fips_code', 'incident_start_date', 'incidenttype', 'is_major_disaster',
       'state_x', 'incident_year', 'stabr', 'area_name_x', 'year_x',
       'medhhinc', 'povall', 'state_y', 'area_name_y', 'year_y',
       'civilian_labor_force', 'employed', 'unemployed', 'unemployment_rate',
       'median_household_income', 'med_hh_income_percent_of_state_total',
       'total_population', 'total_population_norm'],
      dtype='object')

In [12]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   fips_code                             1000 non-null   int64
 1   incident_start_date                   1000 non-null   object
 2   incidenttype                          1000 non-null   object
 3   is_major_disaster                     1000 non-null   int64
 4   state_x                               1000 non-null   object
 5   incident_year                         1000 non-null   int32
 6   stabr                                 974 non-null    object
 7   area_name_x                           974 non-null    object
 8   year_x                                974 non-null    float64
 9   medhhinc                              974 non-null    float64
 10  povall                                974 non-null    float64
 11  state_y                               974 non-null    object
 12  area_name_y                           974 non-null    object
 13  year_y                                974 non-null    float64
 14  civilian_labor_force                  974 non-null    float64
 15  employed                              974 non-null    float64
 16  unemployed                            974 non-null    float64
 17  unemployment_rate                     974 non-null    float64
 18  median_household_income               974 non-null    float64
 19  med_hh_income_percent_of_state_total  974 non-null    float64
 20  total_population                      974 non-null    float64
 21  total_population_norm                 974 non-null    float64
dtypes: float64(12), int32(1), int64(2), object(7)
memory usage: 168.1+ KB

In [13]:
print(f"Total Disaster Records: {len(df_fema)}")
print(f"Master Dataset Records: {len(df_master)}")

Total Disaster Records: 1000
Master Dataset Records: 1000

In [14]:
df_master.to_csv('master_disaster_resilience_data.csv', index=False)